.resumelogo {
  width: 120px;
  height: 150px;
}

.resumeArray {
  display: inline-block;
  background-color: rgba(240, 180, 47, 0.7);
  border-radius: 10px;
  margin-left: 16px;
  width: 220px;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
}
