#resumeFormMain {
  float: right;
  display: inline-block;
  background-color: #fcf6c2;
  height: 900px;
}

.saveResume {
  background-color: rgb(68, 187, 84);
  border-radius: 10px;
  border: none;
  width: 120px;
  height: 40px;
}

.short {
  width: 165px;
  margin-left: 5px;
}

.fat {
  width: 165px;
  height: 80px;
  margin-left: 5px;
}

input {
  width: 350px;
  margin-top: 10px;
}

textarea {
  margin-top: 10px;
  width: 350px;
  height: 40px;
}

.checkBox {
  width: 10px;
  display: inline-block;
  margin-right: 50px;
}

.logoName {
  display: inline-block;
  font-size: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.logoDiv {

}
