#resumeTemplateMain {
  float: left;
  background-color: #fcf6c2;
  height: 1000px;
}

#resumeTemplate {
  background-image: url("http://i.imgur.com/17S7jVJ.png");
  background-size: cover;
  height: 842px;
  width: 595px;
  margin-left: 100px;
  margin-top: 50px;
}

.programmerName {
  text-align: center;
  text-decoration: underline;
  width: 432px;
  height: 70px;
  padding-top: 10px;
  line-height: 20px;
  display: inline-block;
}

.programmerTitle {
  text-align: center;
  width: 432px;
  height: 10px;
  font-style: italic;
  display: inline-block;
}

.programmerPitch {
  text-align: center;
  margin-left: 90px;
  width: 250px;
  height: 80px;
  padding-top: 30px;
  word-wrap: break-word;
  display: inline-block;
}

.programmerMobile {
 margin-left: 465px;
 margin-top: -135px;
 font-size: 10px;
 height: 10px;
}

.programmerEmail {
 margin-left: 465px;
 margin-top: 30px;
 font-size: 10px;
 height: 10px;
}

.programmerLinkedin {
 margin-left: 465px;
 margin-top: 28px;
 font-size: 10px;
 height: 10px;
}

.programmerWebsite {
 margin-left: 465px;
 margin-top: 28px;
 font-size: 10px;
 height: 10px;
}

.programmerGithub {
 margin-left: 465px;
 margin-top: 28px;
 font-size: 10px;
 height: 10px;
}

.programmerJobTitle1 {
  margin-top: 45px;
  margin-left: 26px;
  display: inline-block;
  height: 10px;
}

.programmerJobDate1 {
  display: inline-block;
  margin-left: 13px;
  font-size: 12px;
  height: 5px;
}

.programmerJobDesc1 {
  margin-left: 28px;
  font-size: 14px;
  width: 350px;
  height: 70px;
  word-wrap: break-word;
}

.programmerJobTitle2 {
  margin-top: 10px;
  margin-left: 26px;
  display: inline-block;
  height: 10px;
}

.programmerJobDate2 {
  display: inline-block;
  margin-left: 13px;
  font-size: 12px;
  height: 5px;
}

.programmerJobDesc2 {
  margin-left: 28px;
  font-size: 14px;
  width: 350px;
  height: 120px;
  word-wrap: break-word;
}

.programmerEduSchool1 {
  margin-top: 55px;
  margin-left: 26px;
  display: inline-block;
  height: 10px;
}

.programmerEduDate1 {
  display: inline-block;
  margin-left: 13px;
  font-size: 12px;
  height: 5px;
}

.programmerEduDesc1 {
  margin-left: 28px;
  font-size: 14px;
  width: 350px;
  height: 60px;
  word-wrap: break-word;
}

.programmerEduSchool2 {
  margin-top: 20px;
  margin-left: 26px;
  display: inline-block;
  height: 10px;
}

.programmerEduDate2 {
  display: inline-block;
  margin-left: 13px;
  font-size: 12px;
  height: 5px;
}

.programmerEduDesc2 {
  margin-left: 28px;
  font-size: 14px;
  width: 350px;
  height: 60px;
  word-wrap: break-word;
}

.programmerProjectName1 {
  display: inline-block;
  margin-left: 450px;
  margin-top: -480px;
  height: 10px;
}

.programmerProjectDesc1 {
  margin-left: 450px;
  margin-top: -460px;
  font-size: 10px;
  word-wrap: break-word;
  height: 50px;
  width: 130px;
}

.programmerProjectLink1 {
  margin-left: 450px;
  font-style: italic;
  text-decoration: underline;
  color: rgb(169, 152, 201);
  font-size: 12px;
  height: 10px;
}

.programmerProjectName2 {
  margin-left: 450px;
  margin-top: 50px;
  height: 10px;
}

.programmerProjectDesc2 {
  margin-left: 450px;
  font-size: 10px;
  word-wrap: break-word;
  height: 50px;
  width: 130px;
}

.programmerProjectLink2 {
  margin-left: 450px;
  font-style: italic;
  text-decoration: underline;
  color: rgb(169, 152, 201);
  font-size: 12px;
  height: 10px;
}

.programmerProjectName3 {
  margin-left: 450px;
  margin-top: 50px;
  height: 10px;
}

.programmerProjectDesc3 {
  margin-left: 450px;
  font-size: 10px;
  word-wrap: break-word;
  height: 50px;
  width: 130px;
}

.programmerProjectLink3 {
  margin-left: 450px;
  font-style: italic;
  text-decoration: underline;
  color: rgb(169, 152, 201);
  font-size: 12px;
  height: 10px;
}

.programmerHobbyName1 {
  margin-left: 450px;
  margin-top: 60px;
  height: 10px;
}

.programmerHobbyDesc1 {
  margin-left: 450px;
  font-size: 10px;
  height: 40px;
  word-wrap: break-word;
  width: 130px;
}

.programmerHobbyName2 {
  margin-left: 450px;
  height: 10px;
}

.programmerHobbyDesc2 {
  margin-left: 450px;
  font-size: 10px;
  height: 40px;
  word-wrap: break-word;
  width: 130px;
}

.logo1 {
  margin-top: 130px;
  margin-left: 5px;
  width: 50px;
  height: 50px;
  border: 0px;
  border-color: white;
  float: left;
  display: inline-block;;
}

.logo2 {
  margin-top: 130px;
  margin-left: 3px;
  width: 50px;
  height: 50px;
  border: 0px;
  border-color: white;
  display: inline-block;
  float: left;
}

.logo3 {
  margin-top: 130px;
  margin-left: 3px;
  width: 50px;
  height: 50px;
  border: 0px;
  border-color: white;
  display: inline-block;
  float: left;
}

.logo4 {
  margin-top: 130px;
  margin-left: 3px;
  width: 50px;
  height: 50px;
  border: 0px;
  border-color: white;
  display: inline-block;
  float: left;
}

.logo5 {
  margin-top: 120px;
  margin-left: 3px;
  width: 50px;
  height: 60px;
  border: 0px;
  border-color: white;
  display: inline-block;
  float: left;
}

.logo6 {
  margin-top: 130px;
  margin-left: 3px;
  width: 50px;
  height: 50px;
  border: 0px;
  border-color: white;
  display: inline-block;
  float: left;
}

.logo7 {
  margin-top: 130px;
  margin-left: 3px;
  width: 50px;
  height: 50px;
  border: 0px;
  border-color: white;
  display: inline-block;
  float: left;
}

.logo8 {
  margin-top: 130px;
  margin-left: 3px;
  width: 50px;
  height: 50px;
  border: 0px;
  border-color: white;
  display: inline-block;
  float: left;
}

.logo9 {
  margin-top: 130px;
  margin-left: 3px;
  width: 50px;
  height: 50px;
  border: 0px;
  border-color: white;
  display: inline-block;
  float: left;
}

.logo10 {
  margin-top: 130px;
  margin-left: 3px;
  width: 50px;
  height: 50px;
  border: 0px;
  border-color: white;
  display: inline-block;
  float: left;
}

.logo11 {
  margin-top: 130px;
  margin-left: 3px;
  width: 50px;
  height: 50px;
  border: 0px;
  border-color: white;
  display: inline-block;
  float: left;
}

.logo12 {
  margin-top: 130px;
  margin-left: 3px;
  width: 50px;
  height: 50px;
  border: 0px;
  border-color: white;
  display: inline-block;
  float: left;
}

.logo13 {
  margin-top: 130px;
  margin-left: 3px;
  width: 50px;
  height: 50px;
  border: 0px;
  border-color: white;
  display: inline-block;
  float: left;
}

.logo14 {
  margin-top: 130px;
  margin-left: 3px;
  width: 50px;
  height: 50px;
  border: 0px;
  border-color: white;
  display: inline-block;
  float: left;
}

.printButton {
  margin-top: 20px;
  margin-left: 100px;
  background-color: orange;
  border-radius: 10px;
  border: none;
  width: 120px;
  height: 40px;
}

.homeButton {
  background-color: orange;
  border: 0px;
  border-radius: 10px;
  width: 120px;
  height: 40px;
  margin-left: 10px;
}

#resumeTemplate img[src=""] {
  display:none;
}
